@import "styles.css";

/* !==============|Left Pannel|============== */
.left_pannel {
    width: 8%;
    top: 0;
    position: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.left_pannel>.icon_container {
    display: flex;
    flex-direction: column;
}

.icon_container>a {
    width: 20px;
    height: 20px;
    /* padding: 10px; */
    margin-bottom: 26px;
    color: var(--grey-light);
}

.icon_container>a:hover {
    color: var(--first-color);
    transform: translateY(-3px)
}

.icon_container::after {
    content: "";
    display: block;
    width: 0.1px;
    height: 90px;
    margin: 0px auto;
    margin-top: 6px;
    background-color: var(--text-light);
}

/* !===============|Right Pannel|=============== */
.right_pannel {
    width: 8%;
    position: fixed;
    height: 100vh;
    right: 0;
    top: 0;
    /* background: rgb(231, 159, 159); */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.right_pannel>.email_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email_container>a {
    font-size: var(--smaller-font);
    letter-spacing: 1.3px;
    writing-mode: vertical-rl;
    color: var(--grey-light);
}

.email_container>a:hover {
    color: var(--first-color);
    transform: translateY(-3px)
}

.email_container::after {
    content: "";
    display: block;
    width: 0.1px;
    height: 90px;
    margin: 0px auto;
    margin-top: 10px;
    background-color: var(--text-light);
}

/* !=================|Navigation Pannel|============= */
.navigation {
    position: relative;
    width: 100%;
    height: var(--header-height);
    padding: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100000;
    position: fixed;
    top: 0;
    background-color: rgb(236, 242, 255,0.5);
    backdrop-filter: blur(10px);
}

#nav-link {
    color: var(--first-color);
}

.nav_container {
    width: 93%;
    /* background-color: aqua; */
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav_logo {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}
.nav_logo>img{
    width: auto;
    height: 70%;
}
#menuToggle{
    display: none;
}
.navigation_box {
    display: flex;
    align-items: center;
}

.navigation_box>ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    margin-bottom: 0;
    margin-right: 10px;
}

.navigation_box>ul>li {
    padding-left: 18px;
    font-size: var(--smaller-font);
    font-weight: 500;
    color: var(--grey-dark);
}

.navigation_box>ul>li:hover a {
    color: var(--first-color);
    transition: ease-in-out 0.25s;
}

.navigation_box>ul>li>a {
    color: var(--grey-dark);
}

.nav_container a {
    letter-spacing: 0.8px;
}

.navigation_box>a {
    font-size: var(--smaller-font);
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 10px;
    border-radius: 4px;
    letter-spacing: 0.5px;
    margin-left: 18px;
    border: 1px solid var(--first-color);
    color: var(--first-color);
}

.navigation_box>a:hover {
    background: var(--first-color);
    color: var(--body-color);
}
.nav-link:focus{
    color: var(--first-color);
}
/* !=================|Main Pannel|============= */
.main_pannel {
    width: 70%;
    margin: auto;
    /* height: 200vh; */
    /* border: 1px solid white; */
}

/*! -------------|Home section|----------- */

.home.section {
    /* height: calc(100vh - 5rem); */
    height: 100vh;
    display: flex;
    /* background: red; */
    align-items: center;
}

.home_container {
    width: 100%;
    position: relative;
    text-align: left;
    /* margin-top: var(--header-height); */
}

.home_container>h3 {
    color: var(--first-color);
    font-weight: 500;
    font-size: var(--small-font);
    letter-spacing: 1.5px;
    margin-bottom: 20px;
}

.home_container>h3+h1 {
    /* font-size: 8vw; */
    font-size: clamp(40px, 6vw, 80px);
    color: var(--grey-dark);
    /* line-height: 88px; */
    margin-left: -4px;
    margin-bottom: 10px;
    /* margin-bottom: 10px; */
    font-weight: 600;
}

.home_container>h3+h1+h1 {
    /* font-size: var(--ultra-medium-font); */
    font-size: clamp(30px, 5vw, 60px);
    color: var(--grey-light);
    margin-left: -3px;
    /* margin-bottom: 20px; */
    /* line-height: 72px; */
    font-weight: 900;
}
.home_container>h3+h1+h1>span{
    color: var(--first-color);
}

.home_container>p {
    max-width: 540px;
    font-size: var(--small-font);
    color: var(--grey-light);
    margin-top: 20px;
    line-height: 26px;
    letter-spacing: 0.3px;
    margin-bottom: 50px;
}

.home_container>a {
    border: 1px solid var(--first-color);
    color: var(--first-color);
    padding: 15px 40px;
    border-radius: 4px;
    display: flex;
    width: fit-content;
    align-items: center;
    font-size: var(--medium-font);
}

.home_container>a>i {
    margin-left: 10px;
}

.home_container>a:hover {
    background: var(--first-color);
    color: var(--body-color);
    font-weight: 600;
}

/*! -------------|About section|----------- */
#about {
    width: 100%;
    height: 100vh;
    padding: 100px 0;
}

.about_container {
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.about_left {
    width: 100%;
}

.about_left>p {
    font-size: var(--small-font);
    line-height: 26px;
    margin: 0 0 15px;
    color: var(--grey-light);
}

.about_left>p>a {
    color: var(--first-color);
}

.about_stats {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-right: 30px;
}

.about_stats>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats_number {
    color: var(--first-color);
    font-size: var(--medium-font);
    font-weight: 600;
}

.stats_title {
    color: var(--grey-light);

    font-weight: 400;
}

/* ---------- */
.about_right {
    width: 100%;
    display: flex;
    justify-content: center;
}

.about_img_container {
    width: 70%;
    height: fit-content;
    /* overflow: hidden;1 */
    border-radius: 6px;
    transition: ease-in-out 0.25s;
    background: #E3DFFD;
    outline: 1px solid var(--body-color);
    position: relative;
    z-index: 2;
}

.about_img_container::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    /* border: 2px solid var(--first-color); */
    border-right: 2px solid var(--first-color);
    border-bottom: 2px solid var(--first-color);
    top: 20px;
    left: 20px;
    z-index: 1;
    border-radius: 6px;
    transition: ease-in-out 0.25s;
}

.about_img_container>img {
    /* transform: scale(1.2) translateY(-25px);
    aspect-ratio: 3/5;
    object-fit: contain; */
}

.about_img_container:hover::after {
    transform: translate(-7px, -7px);
}

#resume-button-2 {
    border: 1px solid var(--first-color);
    color: var(--first-color);
    padding: 15px 40px;
    border-radius: 4px;
    margin: auto;
    display: flex;
    align-items: center;
    width: fit-content;
    font-size: var(--medium-font);
}

#resume-button-2>i {
    margin-left: 10px;
}

#resume-button-2:hover {
    background: var(--first-color);
    color: var(--body-color);
    font-weight: 600;
}

/*! -------------|Project section|----------- */
#projects {
    padding: 100px 0;
    /* padding-bottom: 0; */
}

#projects>.section_title::after {
    width: 50%;
    flex: 0.48
}

.project-card {
    position: relative;
    width: 100%;
    margin-bottom: 100px;
    display: flex;
}

#project-card-flip {
    justify-content: flex-end;
}

.project-card_img_section {
    width: 60%;
    /* height: 350px; */
    /* background: #000; */
    padding-right: 20px;
    overflow: hidden;
}

.project-card_img_section>img {
    border-radius: 4px;
    width: 100%;
}

.project-card_description_section {
    width: 47%;
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    color: var(--text-light);
    z-index: 10;
}

#project-flip-description {
    left: 0;
    align-items: flex-start;
    z-index: 100;
}

#project-flip-description>.project_btn>a {
    margin-left: 0;
    margin-right: 20px;
}

#project-flip-img {
    padding-right: 0;
    padding-left: 20px;
}

.project-card_description_section>h4 {
    font-size: var(--smaller-font);
    color: var(--first-color);
    font-weight: 900;
    margin-bottom: 8px;
    font-weight: 400;
}

.project-title {
    font-size: var(--large-font);
    color: var(--grey-dark);
    font-weight: 900;
    letter-spacing: 1px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: ease-in-out 0.25s;
}

.project-title:hover {
    color: var(--grey-dark-alt);
}

.project-description {
    display: flex;
    justify-content: center;
    background: var(--card-color);
    padding: 1.5rem;
    box-shadow: rgba(255, 255, 255, 0.226) -1px -1px 7px;
    margin-bottom: 20px;
    border-radius: 4px;
    z-index: 10;
    color: var(--grey-dark);
}

.project-description>p {
    margin-bottom: 0;
}
.project-description>p+p>span{
    display: none;
}
.project-tech-stack {
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 20px;
}

.project-tech-stack>span {
    color: var(--grey-dark);
    font-size: var(--smaller-font);
    transition: ease-in-out 0.25s;
    cursor: pointer;
    font-weight: 600;
}

.project-tech-stack>span:hover {
    color: var(--first-color);
}

.project_btn {
    display: flex;
}

.project_btn>a {
    width: 25px;
    margin-left: 20px;
    color: var(--grey-dark);
}

.project_btn>a:hover {
    color: var(--first-color);
}

/*! -------------|Skills section|----------- */
#skills {
    /* margin-bottom: 100vh; */
    padding: 100px 0;
}

#skills>.section_title::after {
    width: 50%;
    flex: 0.48
}

.frontend-skills {
    width: 100%;
}

.frontend-skills>h1, .backend-skills>h1 {
    font-size: var(--large-font);
    color: var(--grey-dark);
    margin-bottom: 1.5rem;
}

.fs_container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
    margin-bottom: 40px;
}

.bs_container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
    margin-bottom: 40px;
}

.skills-card {
    padding: 12px;
    border: 2px solid var(--first-color);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.25s;
}

.skills-card:hover {
    background: #0986d40c;
    transform: translate(-2px, -5px);
}

.skills-card:hover span {
    color: var(--first-color);
}

.skills-card>img {
    width: 50%;
    height: 50%;
}

.skills-card>span {
    height: 20%;
    margin-top: 15px;
    color: var(--grey-dark);
    font-weight: 700;
    font-size: var(--medium-font);
}

/*! -------------|Github section|----------- */
#github {
    padding-bottom: 100px;
}

#githubstates {
    padding-bottom: 100px;
}
.float-left{
    display: none;
}
.section__title {
    color: var(--grey-dark);
    font-weight: 700;
    margin-bottom: 40px;
}

.carousel-indicators {
    top: 100%;
    margin-top: 20px;
    color: var(--grey-dark);
}
.carousel-control-prev-icon{
    color: var(--grey-dark);

}
.github_carousel_container {
    position: relative;
    display: flex;
    justify-content: center;
    height: 350px;
}

.github-carousel-window {
    display: flex;
    align-items: center;
    width: 70%;
    object-fit: contain;
}

.github-carousel-window>div>img{

} 

/*! -------------|Contact|----------- */
#contact {
    height: 100vh;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
}

#contact>.section_title::after {
    flex: 0.5;
    /* width: 50%; */
}

.contact_layout_container {
    flex: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.contact-info-container>span {
    color: var(--text-lighter);
    /* font-weight: 700; */
    /* flex: 1; */
    /* text-align: left; */
    /* margin-bottom: 20px; */
    font-size: var(--large-font);
}

.contact-info-container {
    /* width: 30%; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin-top: 50px;
}

.contact-info-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: 2px solid var(--first-color);
    /* box-shadow: rgba(255, 255, 255, 0.4) 1.5px 1.5px 2px; */
    /* background: var(--card-color); */
    padding: 20px 0;
    border-radius: 10px;
    border: none;
    gap: 0.2rem;
}
.contact-info-card>span:nth-child(3){
    color: var(--grey-light);
}

.contact-info-card:hover {
    transform: translate(-2px, -2px);
    background: #0986d40c;
}


.contact-info-card>img {
    width: 10%;
    color: var(--grey-dark);
    margin: 0 20px;
}

.contact-info-card>span {
    /* text-align: center; */
    margin: 0 10px;
    color: var(--grey-dark);
}

.contact-mobile-active {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.contact-mobile-active>span {
    font-size: clamp(30px, 8vw, 40px);
    color: var(--grey-dark);
    font-weight: 900;
}

.contact-mobile-active>p {
    width: 60%;
    text-align: center;
    color: var(--grey-light);
    font-size: var(--small-font);
    margin-top: 20px;
}

.contact-mobile-active>a {
    padding: 12px 25px;
    border-radius: 4px;
    color: var(--first-color);
    margin-top: 20px;
    border: 2px solid var(--first-color);
}
.contact-mobile-active>a:hover{
    background: var(--first-color);
    color: var(--body-color);
    font-weight: 700;
}

/*! -------------|Footer|----------- */
.mobile_footer_icons {
    display: none;
}

.footer-section {
    text-align: center;
    flex: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    /* margin-bottom: 0.25rem; */
    margin-top: 1.25rem;
}

.footer-section>p {
    line-height: 10px;
    font-size: var(--smaller-font);
    color: var(--grey-dark);
    font-weight: 500;
    letter-spacing: 1.3px;
}

.footer-section>p>a {
    color: var(--first-color);
}


/*!========== SCROLL UP ==========*/
.scrollup {
    position: fixed;
    right: 6rem;
    bottom: -20%;
    background-color: var(--first-color);
    opacity: 1;
    padding: 0 .3rem;
    border-radius: .4rem;
    z-index: var(--z-tooltip);
    transition: .4s;
}

.scrollup:hover {
    background-color: var(--first-color-alt);
}

.scrollup__icon {
    font-size: 1.5rem;
    color: var(--body-color);
    padding: 10px 5px;
}

/* Show scroll */
.show-scroll {
    bottom: 5rem;
    right: 6rem;
}

/*!========== SCROLL BAR ==========*/
::-webkit-scrollbar {
    width: .5rem;
    background-color: rgba(32, 61, 114, 0.3);
    border: .5rem;

}

::-webkit-scrollbar-thumb {
    background-color: rgba(27, 63, 131, 0.85);
    border-radius: .3rem;
}

/*! ================== Addons =============== */
.project-description{
    flex-direction: column;
}
.project-description>p{
    text-align: right;
}
.project-description>p:last-child{
    color: var(--first-color);
    font-weight: 100;
    font-size: 14px;
    margin-top: 10px;
}
#project-card-flip p{
    text-align: left;
}
.project-tech-stack{
    max-width: 90%;
}
.scroll-header{
    box-shadow: 0 10px 20px -10px #05071a;

}